.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* Some left and right padding inside the container */
.container1{
  padding: 0 16px;
  width: 100%;
}
/* Our team section */
#team {
  padding: 60px 0;
  width: 100%;
  display: flex;
}
.row{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.content{
  width: fit-content;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}
.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}
section .section-title {
  text-align: center;
  color: #007b5e;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.jumbotron{
  font-size: 4em;
  -webkit-text-stroke: 1px black;
  color: lightgreen;
}
#team .card {
  border: none;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20em;
  cursor: pointer;
}
.image-flip{
  width: 20em;
}
.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: 0.25rem;
}
.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}
.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}
.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}
.frontside .card,
.backside .card {
  min-height: 312px;
}
.backside .card a {
  font-size: 18px;
  color: #007b5e !important;
}
.frontside .card .card-title,
.backside .card .card-title {
  color: #007b5e !important;
}
.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

h2{
  width: 100%;
  text-align: center;
}

.item.active:first-of-type{
  width: fit-content;
  padding: 0 1em;
  background-color:white;
  margin-left: 2%;
  box-shadow: 0 0 15px lightgreen;
}
.item.active:last-of-type{
  width: fit-content;
  padding: 0 1em;
  background-color: white;
  margin-left: auto;
  margin-right: 2%;
  box-shadow: 0 0 15px lightgreen;
}

.significance{
  width: 100%;
  padding: 1em 1em;
}
.significance__content{
  width: fit-content;
  margin: 0 auto;
  padding: 1em 1em;
  margin-top: 2em;
  background-color: white;
  box-shadow: 0 0 15px lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}
a{
  text-decoration: none;
}
.features{
  width: 100%;
  padding:1em 3em
}
.features__content{
  width: fit-content;
  padding: 1em 1em;
  margin: 0 auto;
  margin-top: 1em;
  background-color: white;
  box-shadow: 0 0 15px lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
}