.doctorLanding{
    width: 100%;
    height:94.5vh;
    background-color: white;
    padding-top: 2.33em;
    position: relative;
    &__greeting{
        padding-left: 2rem;
        width: 80%;
        height:3em;
        margin: 0 auto;
        border-radius: 1000em;
        box-shadow: 0 0 15px lightgreen;

    }
    &__imgBox{
        width:10em;
        max-height:fit-content ;
        img{
            width: 100%;
            object-fit: contain;
        }

    }

    &__list{
        width: 100%;
        display: flex;
        margin-top: 10%;
        flex-direction: column;
        z-index: 3;
    }
    &__recentPatients{
        width: 40%;
        margin-left:2% ;
    }
    &__patients{
        width: 100%;
        box-shadow: 0 0 15px lightgreen;
    }

    &__recentPatient{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 1em 0;
        border: 1px solid lightgreen;
        cursor: pointer;

        &:hover{
            background-color: rgba(166, 252, 166,0.5);
        }
    }

    &__patientImage{
        width: 3em;
        height:3em;

        img{
            width:100%;
            height: 100%;
            object-fit: contain;
            font-size: 0.7em;
        }
    }

    &__content{
        width: 100%;
        display:flex;
        justify-content: space-between;
    }
    &__docImage{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        img{
            width: 50%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__profile{
        box-shadow: 0 0 15px lightgreen;
        margin-right: 2%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-evenly ;
        background-color: white;
    }
}