$green:lightgreen;

.homeDrawer{
    height: 95vh;
    position: absolute;
    background-color: white;
    border-right: 1px solid $green;
    ul{
        height: 100%;
        width: 12em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        display: none;
        align-items: center;
        li{
            width: 100%;
            cursor:pointer;
            text-align: center;
            list-style: none;
            &:hover{
                box-shadow: 0px 0px 15px $green;
            }
        }
    }
    &__button{
        position: absolute;
        left: 100%;
        top: 2%;
        display: flex;
        justify-content: center;
        border-top-right-radius:100em ;
        border-bottom-right-radius:100em ;
        width: 2.4em;
        height: 2.4em;
        border: 1px solid $green;
        cursor: pointer;
        h1{
            font-size: 1rem;
            transform: rotateZ(-90deg);
            cursor: pointer;
        }
    }
    &.active{
        ul{
            display: flex;
        }
    }
}