$mobileScreen:600px;

header{
    width: 100%;
    z-index: 1000;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(144, 238, 144,0.55);
    h1{
        margin-left: 1em;
        font-size: 2.5rem;
    }
    nav{
        padding-right: 1em;
        ul{
            right: 1%;
            list-style: none;
            display: flex;
            li{
                font-size: 1.6rem;
                margin-left: 2.5em;
                color: rgb(43, 199, 43);
                cursor: pointer;
                &:hover{
                    color: green;
                }
            }
        }
    }

    @media screen and (max-width:$mobileScreen){
        nav{
            display: none;
        }
    }
    .mob__nav{
        position: absolute;
        width: 100%;
        display: none;
        background-color: white;
        top: 100%;
        z-index: 100;
        ul{
            list-style: none;
            cursor: pointer;
            li{
                font-size: 1.8rem;
                background-color: white;
                color: rgb(43, 199, 43) ;
                &:hover{
                    color:green;
                }
            }
        }
    }
    label{
        font-size: 1.5rem;
        display: none;
        margin-right: 1em;
        top: 1.5%;
        transform: rotateZ(-90deg);
        cursor: pointer;
    }

    @media screen and (max-width:$mobileScreen) {
        label{
            display: block;
        }
    }
    input[type="checkbox"]{
        display: none;
        &:checked ~ .mob__nav{
            display: block;
        }
    }

    

}