.notification {
    a {
        text-decoration: none;
        color: black;
    }
    &__display {
        width: 50%;
        height: 2em;
        display: flex;
        align-items: center;
        margin: 1em 0;
        border: 1px solid lightgreen;
        justify-content: space-evenly;
        cursor: pointer;

        &:hover {
            background-color: rgba(155, 241, 155, 0.4);
        }
    }
}
