.notification {
    display: flex;
    flex-direction: column;
    p {
        display: flex;
        margin-right: 4rem;
        &:hover {
            cursor: pointer;
        }
    }
    a {
        text-decoration: none;
        color: black;
    }
    &__display {
        width: 100%;
        height: em;
        display: flex;
        align-items: center;
        margin: 1em 0;
        border: 1px solid lightgreen;
        justify-content: space-evenly;
        cursor: pointer;

        &:hover {
            background-color: rgba(155, 241, 155, 0.4);
        }
    }
    &__displayRed {
        width: 100%;
        height: 3em;
        display: flex;
        align-items: center;
        margin: 1em 0;
        border: 1px solid gray;
        justify-content: space-evenly;
        cursor: pointer;

        &:hover {
            background-color: rgba(155, 241, 155, 0.4);
        }
    }
    &__patientPhoto {
        width: 100%;
        height: 100%;
        object-fit: contain;
        font-size: 0.7em;
        border-radius: 50%;
    }
    &__imgDark {
        mix-blend-mode: exclusion;
    }

    &__sharePopup{
        position: absolute;
        top:0;
        transform: translateY(-200%);
        width: 80%;
        height: 50vh;
        background-color: white;
        border:1px solid lightgreen;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        input{
            width: 80%;
            height: 2.5em;
        }
        select{
            width: 20%;
            height: 2.5em;
        }

        &.active{
            transform: translateY(0%);
        }
    }
    &__shareTime{
        width: 60%;
    }
    &__popupButtons{
        width: 100%;
        display: flex;
        justify-content: space-evenly;

        button{
            height: 2.5em;
            width: 30%;
            border-radius: 10em;
            outline:none;
            border:none;
            box-shadow:0 0 15px lightgreen;
            cursor: pointer;

            &:hover{
                background-color: rgba(146, 240, 146,0.5);
            }
        }
    }
    
}
.friendlist__imgDark{
    mix-blend-mode: exclusion;
}
.notification__imgDark{
    mix-blend-mode: exclusion;
}

