.patientDocument{
    width: 100%;
    height: 94.5vh;
    background-color: white;
    &__documents{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__searchBar{
        padding: 2em 0;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        input[type="search"]{
            width:20%;
            height:2em;
            border-right: none;
            border-top-left-radius: 10em;
            border-bottom-left-radius: 10em;
            outline: none;
            text-align: center;
        }
        input::placeholder{
            text-align: center;
        }
        input[type="text"]{
            width:30%;
            height: 2em;
            text-align: center;
        }

        .searchIcon{
            width: 10%;
            height: 1.7em;
            border-top-right-radius: 10em;
            border-bottom-right-radius: 10em;
            border-right: 1px solid darkgreen;
            cursor: pointer;
            flex-shrink: 0;
        }
    }

    &s__details{
        width: 100%;
        display: flex;
        justify-content: center;
        table{
            width: 80%;
            background-color: white;
            border: 1px solid lightgreen;
            text-align: center;
            tbody{
                background-color: lightblue;
            }
            thead{
                text-align: center;
                background-color: burlywood;
                font-size: 2.1rem;
                -webkit-text-stroke: 1px green;
            }
        }
    }
   
}

@media screen and (max-width:600px) {
    :root{
        font-size: 13px;
    }
}