.patientDocument{
    width: 100%;
    height: 94.5vh;
    overflow-y: auto;
    background-color: white;
    &__documents{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__searchBar{
        padding: 2em 0;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        input[type="search"]{
            width:20%;
            height:2em;
            border-right: none;
            border-top-left-radius: 10em;
            border-bottom-left-radius: 10em;
            outline: none;
            text-align: center;
        }
        input::placeholder{
            text-align: center;
        }
        input[type="text"]{
            width:30%;
            height: 2em;
            text-align: center;
        }

        .searchIcon{
            width: 10%;
            height: 1.7em;
            border-top-right-radius: 10em;
            border-bottom-right-radius: 10em;
            border-right: 1px solid darkgreen;
            cursor: pointer;
            flex-shrink: 0;
        }
    }

    &s__details{
        width: 100%;
        display: flex;
        justify-content: center;
        table{
            width: 80%;
            background-color: white;
            text-align: center;
            tbody{
                tr{
                    background-color: lightblue;
                    cursor: pointer;
                    height: 3em;
                    &:hover{
                        background-color: rgb(146, 207, 228);
                    }
                }
            }
            thead{
                text-align: center;
                background-color: burlywood;
                font-size: 2.1rem;
                -webkit-text-stroke: 1px green;
            }
        }
    }
    &s__dataList{
    }
    &s__shareIcon{
        position: absolute;
        .shareIcon{
            width:1.5em;
            height: 2.8em;
            margin-left: 5px;
            box-shadow: 0 0 10px rgba(70, 65, 65,0.5);
        }
        &:hover{
            background-color: rgba(182, 179, 179, 0.6);
        }
    }
    &__alert{
        position: absolute;
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
        padding: 2em;
        border: 1px solid lightgreen;
        border-top: 0;
        display: none;
        h3{
            width: 100%;
            margin-bottom: 1em;
        }
        div{
            width: 100%;
            display: flex;
            justify-content: space-around;

            button{
                background-color: white;
                outline:none;
                padding: 0.5em;
                border: 1px solid lightgreen;
                box-shadow: 0 0 15px rgba(122, 119, 119,0.5);
                cursor: pointer;

                &:hover{
                    background-color: lightgrey;
                }
            }
        }
        &.active{
            display: block;
        }
    }
}

@media screen and (max-width:600px) {
    :root{
        font-size: 13px;
    }
}