.personalDetail{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2em;
    background-color: white;
    border: 1px solid lightgreen;
    padding: 1.5% 1%;
    p{
        margin-bottom: 1em;
    }
    &__content{
        grid-template-rows: repeat(2,1fr);
    }

    h2{
        width: 100%;
        
    }
    p{
        font-size: 1rem;
        word-wrap:break-word;
        word-break: break-all;
    }
    &__button{
        display: flex;
        justify-content: space-between;

        h2{
            width: fit-content;
        }
        button{
            height: 3em;
            width: 4.5em;
            border-radius: 100em;
            border:1px solid lightgreen;
            outline: none;
            margin-right: 1em;
            cursor: pointer;
            background-color: transparent;
            &:hover{
                background-color: rgba(152, 240, 152,0.5);
            }
        }
    }
    &__who{
        margin-top: 1em;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap:1.3em;

        h4{
            padding-left:1em;
        }
    }
    &__contact{
        margin-top: 1em;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap:1.3em;
        h4{
            padding-left:1em;
        }
    }

    &__popup{
        width:100%;
        position: absolute;
        background-color: white;
        left: 0;
        justify-content: space-evenly;
        align-items: center;
        display: none;
        padding-bottom: 5rem;
        top:3em;
        h1{
            span:last-of-type{
                &:hover{
                    color:red
                }
            }
        }
        
        &.active{
            display: flex;
        }
    }
    form{
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        h1{
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 1em;
        }
        .image{
            position: relative;
        }
        .imageDark{
            mix-blend-mode: exclusion;
        }
        label{
            display: grid;
            margin: 2em 1em 1em 0em;
        }
    }
    :is(input[type="text"],input[type="number"],input[type="email"],input[type="date"]) {
        margin-right:2em;
        text-align: center;
        border-radius:10em;
        outline:none;
        border: none;
        box-shadow: 0 0 15px lightgreen;
    }
    &__changeName{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        input{
            margin-top: 0.5rem;
            width: 16rem;
            height: 1.8rem;
        }
    }
    &__changeAddress{
        display: flex;
        width: 80%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        input{
            margin-top: 0.5rem;
            height: 1.8rem;
        }
    }
    &__select {
        width: 80%;
    }
    &__radio {
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    &__customSelect {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 7em;
        margin-bottom: 0.2em;
        select {
            height: 4em;
            width: 100%;
            border-radius: 1em;
            text-align: center;
            background-color: white;
            outline: none;
            border: none;
            box-shadow: 0px 0px 15px 5px rgba(22, 21, 21, 0.35);
        }
        &::before {
            content: "";
            position: absolute;
            width: 10%;
            right: 0;
            height: 3em;
            top:4.1em;
            color: black;
            border-top-right-radius: 1em;
            border-bottom-right-radius: 1em;
            background-color: rgba(156, 241, 156,1);
            pointer-events: none;
        }

        &::after {
            content: "";
            position: absolute;
            right: 3%;
            height: 100%;
            top: 5.3em;
            border: 0.5em solid transparent;
            border-top-color: red;
            pointer-events: none;
        }
    }

    button[type="submit"] {
        width: 50%;
        margin: 1em auto;
        height: 3em;
        border: none;
        box-shadow: 0px 0px 15px lightgreen;
        cursor: pointer;
        border-radius: 10em;

        &:hover{
            background-color: rgba(156, 240, 156,0.8);
        }
    }

    &__emergency {
        width: 80%;
        input[type="text"] {
            width:clamp(20em,100%,15em)
        }

    }
    &__changePhoto{
        width: 80%;
        height: fit-content;
    }
    &__popUp2{
        position: absolute;
        top: 0;
        background-color: white;
        padding: 1em 1em;
        border: 1px solid lightgreen;
        transform: translateY(-200%);

        h1{
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 0 auto;

        }
        input{
            margin:2em 0;
            width: 50%;
            height: 2.5rem;
            text-align: center;
            border-radius: 10em;
            outline: none;
            border: none;
            box-shadow: 0 0 15px lightgreen
        }
        &.active{
        transform: translateY(0%);
        }
    }
    &__popUp2Buttons{
        width: 80%;
        display: flex;
        margin-left: 20%;
        align-items: center;
        padding: 0 auto;
        button{
            width: 20%;
            border-radius: 10em;
            height: 3em;
            border: none;
            outline:none;
            border: none;
            box-shadow: 0px 0px 15px lightgreen;
            cursor: pointer;
            border-radius: 10em;

            &:hover{
                background-color: rgba(156, 240, 156,0.8);

            }
        }
    }
    &__confirm{
        width: 20% !important;
    }
}
@media screen and (max-width:800px) {
    :root{
        font-size: 10px;
    }
}