.recentPatientDocuments{
    width: 100%;
    height: 94.5vh;
    background-color: white;
    padding-top: 1.5em;
    overflow-y: scroll;
    &__patientDetail{
        width: 80%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        justify-content: center;
        box-shadow: 0 0 15px lightgreen;
        border-radius: 100em;
    }
    .dark__patientPhoto{
        mix-blend-mode: exclusion;
    }

    &__imgBox{
        width: 6em;
        height: 6em;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__documents{
        width: 80%;
        margin: 0 auto;
        margin-top: 2em;
    }
    &__list{
        width: 100%;
        height: 2em;
        display:flex;
        align-items: center;
        margin: 1em 0;
        border: 1px solid lightgreen;
        justify-content: space-evenly;
        cursor: pointer;

        &:hover{
            background-color: rgba(155, 241, 155,0.4);
        }
    }
    .patientPhoto__dark{
        mix-blend-mode: exclusion;
    }
    &__timeUpList{
        background-color: rgba(145, 143, 143,0.5);
        pointer-events: none;
    }

    &__terminatedList{
        background-color: red;
        pointer-events: none;
    }
}