extends layout

block content  
  .LoginPage
    h1 MHoP( Medical History of Patient)
    .LoginPage__InputBox
      h1(text-align:center) Log In
      form(action="/register/login",method="POST",class="LoginPage__Input")
        input(type="text",name="id",placeholder="UserId")
        input(type="password",placeholder="Password")
        input(type="submit",value="Log In")
      .LoginPage__Sign
        h2 Don't have account
        .btn Sign Up

      
    
  
