body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* a {
  color: #00b7ff;
}  */

.LoginPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://cdn.discordapp.com/attachments/792400864987316254/792401537737031680/doctors-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.LoginPage__header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: transparent;
}

.LoginPage__InputBox {
  margin-right: 10px;
  width: 20%;
  display: flex;
  justify-content: right;
  align-items: center;
  flex-direction: column;
}

.LoginPage__InputBox > h1 {
  color: black;
}

.LoginPage__Input {
  width: 100%;
  height: 30vh;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
